<div class="admin-header">
  <span class="admin-header-text">LAS Admin Console</span><a style="position:absolute;top:10px;right:10px;color:white" display="inline" float="right" href="auth/signOff">Logout</a>
  <span class="admin-header-subtext">Add empty data sets to the browsing hierarchy, add data sets and data collections, edit data set descriptions and details, organize the browsing hierarchy, and delete or hide data sets all from the tabs on this page.</span>
</div>
<app-admin></app-admin>
<router-outlet></router-outlet>
